@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Hind:wght@400;500&display=swap");

.navbar {
  background-color: white;
  padding-left: 8rem;
  padding-right: 8rem;
  color: black;
  margin: 0;
}

.nav-item {
  margin-right: 1rem;
  color: black;
}

.nav-link {
  text-decoration: none;
  color: black;
  transition: 0.7s;
}
.nav-link::after {
  content: "";
  width: 0%;
  height: 0.125rem;
  background-color: #59c9ec;
  display: block;
  transition: 0.7s;
}
.nav-link:hover {
  color: #59c9ec;
}
.nav-link:hover::after {
  width: 100%;
}
.navbar-collapse {
  text-align: left;
}

h1 {
  color: white;
  padding-top: 2rem;
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 0;
}
h2 {
  color: white;
  text-decoration: underline #59c9ec;
  padding-top: 3rem;
  font-family: "Arimo", sans-serif;
  font-weight: 500;
}
p {
  color: white;
  padding-left: 0;
  margin-left: 0;
  font-family: "Hind", sans-serif;
  font-weight: 400;
}

label {
  color: white;
  font-family: "Hind", sans-serif;
  font-weight: 400;
}

footer{
  background-color: black;
}

iframe {
  width: 100%;
}

.c-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 43.75rem) {
  .c-row {
    flex-direction: column;
  }
}
.c-row-label {
  margin-right: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-row-label label {
  margin-right: 7rem;
  padding-bottom: 0.5rem;
}
.c-container-foto {
  background-color: #504f4f;
  padding-left: 8rem;
  padding-right: 8rem;
}
.c-container-acces {
  background-color: #424141;
  padding-left: 8rem;
  padding-right: 8rem;
}
.c-container-gsm {
  background-color: #2b2b2b;
  padding-left: 8rem;
  padding-right: 8rem;
}
.c-container-over {
  background-color: #1c1c1c;
  padding-left: 8rem;
  padding-right: 8rem;
}
.c-contact {
  background-color: #131313;
  padding-bottom: 3rem;
}
.c-container-contact {
  background-color: #131313;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.c-container-contact::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.c-contactbox {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.c-left {
  padding-right: 3rem;
}
.c-rigth {
  height: 100%;
  padding-top: 4rem;
}
.c-field {
  width: 100%;
  outline: none;
  border: 0.125rem solid white;
  padding: 0.5rem 1rem;
  margin-bottom: 1.375rem;
}
.c-field:hover {
  background-color: #59c9ec;
}
.c-field:focus {
  background-color: #fff;
  border: 0.125rem solid rgba(30, 85, 250, 0.47);
}
.c-field-area {
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
}
.c-field-area:hover {
  background-color: #59c9ec;
}
.c-btn {
  width: 30%;
  padding: 0.5rem 1rem;
  margin-right: 75%;
  border-radius: 1.5625rem;
  background-color: #59c9ec;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  transition: 0.3;
}
.c-btn:hover {
  background-color: white;
  color: #59c9ec;
}
@media screen and (max-width: 880px) {
  .container {
    grid-template-columns: 1fr;
  }
  .c-contactbox {
    grid-template-columns: 1fr;
  }
  .c-rigth {
    height: 12.5rem;
  }
}
.c-icons {
  color: white;
  padding: 0;
  text-align: left;
  margin: 0;
}
.c-list {
  list-style-type: none;
  padding: 0;
}
.align-items {
  align-items: flex-start;
}
.c-underline {
  width: 9.375rem;
  border: 0.625rem solid #59c9ec;
  background-color: #59c9ec;
  border-radius: 0.625rem;
}
.container-div {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.c-video {
  
  overflow: hidden;
  align-items: center;
  background-color: #797979 ;
  height: calc(100vh - 47px)
}

.col-6 h2 {
  padding-top: 10%;
}
.carousel-indicators [data-bs-target] {
  background-color: #59c9ec;
}
.c-contact-col {
  flex-basis: 48%;
  margin-bottom: 1.875rem;
}
.c-contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}
.c-section-top {
  padding: 10rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(../img/_8501673.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: change 60s infinite ease-in-out;
}
.btn-primary {
  background-color: #59c9ec;
}
.btn-primary:hover {
  background-color: #59c9ec;
}

.card-body {
  background-color: #1c1c1c;
}

.collapse {
  color: white;
}
@keyframes change {
  0% {
    background-image: url(../img/_8501673.jpg);
  }
  25% {
    background-image: url(../img/_8501626-bewerkt.jpg);
  }
  50% {
    background-image: url(../img/_8500033.jpg);
  }
  75% {
    background-image: url(../img/850_4630-bewerkt.jpg);
  }
  100% {
    background-image: url(../img/DSC_7802.jpg);
  }
}

.c-footerlink {
  text-decoration: none;
  margin-left: 0.25rem;
  color: #f5ebd9;
}

.c-footerlink:hover {
  color: #59c9ec;
}

.c-footerinput {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

@media only screen and (max-width: 1024px) {
  .c-footernieuws {
    width: 60%;
  }
}

.c-footericons {
  color: #f5ebd9;
  padding-left: 1rem;
  transition: 0.3s;
}

.c-footericons:hover {
  color: #59c9ec;
  width: 3.125rem;
}

.c-footersocial {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.c-footerbtn {
  margin-left: 1rem;
}

.c-footeraanmelden {
  color: #f5ebd9;
}

.c-footertext {
  font-family: "Hind", sans-serif;
  font-size: medium;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #f5ebd9;
}
